/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  width: clamp(25.97vw, 696px, 100vw);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: var(--background-image-fixed, repeating-linear-gradient(90deg, #d3d3d3,  #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(180deg, #d3d3d3,  #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(180deg, #E7E7E7 0.01%,  #1A1A1A  100%));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color, #fff);
  font-family: var(--font-family-main),'Helvetica', sans-serif;
  font-size: var(--font-size-p, 14px);
  color: var(--main-text-color, #000);
}

/* ******* HEADER ******* */

.header {
  margin-block-start: 102px;
  margin-block-end: 52px;
  width: clamp(25.97vw, 696px, 100vw);
  height: min(100vh, 364px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--bg-color, #fff);
  outline: 2px solid var(--main-text-color, #000);
}

.header-title {
  font-family: var(--font-family-accent), Papyrus, fantasy;
  font-weight: var(--font-weight-regular, 400);
  line-height: var(--font-size-h1,  clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem));
  font-size: var(--font-size-h1,  clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem));
  text-decoration: none;
  text-transform: uppercase;
  padding-block-start: 136px;
}

.header-subtitle {
  text-transform: uppercase;
  font-family:var(--font-family-accent), Papyrus, fantasy;
  font-weight: var(--font-weight-regular, 400);
  line-height: var(--font-size-h2, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
  font-size: var(--font-size-h2, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
  padding-block-start: 20px;
}

.theme-menu__list {
  padding-inline-start: 18px;
  padding-block-start: 25px;
}

.theme-menu__item {
  font-family:var(--font-family-accent), Papyrus, fantasy;
  font-weight: var(--font-weight-regular, 400);
  line-height: var(--font-size-p, 14px);
  font-size: var(--font-size-p, 14px);
  text-transform: uppercase;
}

.theme-menu__item:nth-child(2) {
  padding-block: 12px;
}

.theme-menu__button {
  display: inline-block;
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  margin-inline-start: -12px;
  color: var(--main-text-color, #000);
  animation: move 0.5s alternate-reverse ease-in-out infinite;
}

a:focus-visible,
button:focus-visible {
  outline: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: color 0.3s ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.theme-menu__button:after {
  display: block;
  content: "";
  width: 0%;
  height: min(0.14vw, 2px);
  background-color: var(--main-text-color, #000);
  transition: width 0.3s ease-in-out;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a:active,
button:active {
  outline: none;
}

/* ************ СЕКЦИЯ MAIN  ************ */

.post {
  position: relative;
  width: clamp(25.97vw, 696px, 100vw);
  height: min-content;
  display: flex;
  flex-direction: column;
  margin-block-start: min(3.68vw, 53px);
  background-color: var(--bg-color, #fff);
  outline: 2px solid var(--main-text-color, #000);
}

.post .header-title {
  position: absolute;
  text-transform: lowercase;
  top: 56px;
  right: 25px;
  background-image: var(--bg-color-lable, linear-gradient(rgb(0 0 0 / 1), rgb(0 0 0 / 1)));
  background-clip: text;
  font-size: var(--font-size-p, 14px);
  line-height: min(0.97vw, 14px);
  padding-block-start: 0;
  text-shadow: -1px 0 var(--color_text-shadow, rgba(255, 255, 255, 1)), 0 1px var(--color_text-shadow, rgba(255, 255, 255, 1)),
    1px 0 var(--color_text-shadow, rgba(255, 255, 255, 1)), 0 -1px var(--color_text-shadow, rgba(255, 255, 255, 1));
  mix-blend-mode: hard-light;
  opacity: 50%;
  z-index: 1;
}

main .post:nth-child(-n + 3) .header-title {
  text-transform: uppercase;
}

@supports ((text-stroke: 1px var(--color_text-shadow)) or (-webkit-text-stroke: 1px var(--color_text-shadow))) {
  .post .header-title {
    -webkit-text-stroke: 1px var(--color_text-shadow);
    text-stroke: 1px var(--color_text-shadow);
    text-shadow: none;
  }
}

.post-titel {
  font-size: var(--font-size-h3, 18px);
  font-variation-settings: "wght" var(--font-weight-bold, 700);
  line-height: 21.78px;
  padding-block-start: 1px;
  padding-block-end: 6px;
  padding-inline-start: 10px;
}

.post-img {
  max-width: max(48.33vw, 696px);
  outline: 2px solid var(--main-text-color, #000);
}

main .post:nth-child(2) .post-img {
  filter: brightness(120%);
}

main .post:nth-child(3) .post-img {
  filter: contrast(120%);
}

main .post:nth-child(4) .post-img {
  filter: opacity(0.8);
}

main .post:nth-child(5) .post-img {
  filter: grayscale(0.5);
}

main .post:nth-child(6) .post-img {
  filter: saturate(100%);
}

main .post:nth-child(7) .post-img {
  filter: sepia(20%);
}

main .post:nth-child(8) .post-img {
  filter: hue-rotate(30deg);
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-text {
  align-self: start;
  font-size: var(--font-size-h3, 18px);
  font-variation-settings: "wght" var(--font-weight-regular, 400);
  line-height: 21px;
  padding-block-start: 31px;
  padding-inline: 25px;
}

.post-text:nth-last-child(2) {
  padding-block-start: 28px;
}

.card__controls {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-block-start: 6px;
  margin-block-end: 3px;
  margin-inline-end: 25px;
}

.card__icon-button {
  width: 40px;
  height: 39px;
  margin-block-start: 1px;
  margin-inline-end: 6px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-text-color, #000);
}

.sparks {
  opacity: 0;
}

.card__controls .card__icon-button:hover .core {
  fill: var(--main-text-color, #000);
  transition: fill 0s linear 0.05s ;
}
footer .button:hover,
.card__controls .card__icon-button:hover .contour,
.card__controls .card__icon-button:hover .main-body {
  fill: var(--main-text-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.card__controls .card__icon-button:active .core,
.card__controls .card__icon-button:active .main-body {
  fill: var(--color-icon-main-body, red);
  transition: fill 0.3s 0.05s linear;
}

.card__controls .card__icon-button .core:active,
.card__controls .card__icon-button .main-body:active {
  fill: var(--color-icon-main-body, red);
  transition: fill 0.3s 0.05s linear;
}

.card__like-button {
  min-width: 130px;
  min-height: 36px;
  position: relative;
  margin-block-start: 22px;
  margin-block-end: 21px;
  z-index: 1;
  outline: none;
  background-color: var(--bg-color, #fff);
  outline: 2px solid var(--main-text-color, #000);
}

.card__like-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  background: var(--button-hover, #000);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.card__like-button:hover::before {
  width: 100%;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  display: block;
  color: var(--button-text-color, #fff);
  font-family:var(--font-family-accent), Papyrus, fantasy;
  font-weight: var(--font-weight-regular, 400);
  font-size: var(--font-size-p, 14px);
  line-height: 15.6px;
  padding-block: 10px;
  align-self: end;
}

.card__like-button:focus-visible {
  outline: 2px solid var(--main-text-color, #000);
  box-shadow: 3px 3px 0px 0px var(--main-text-color, #000);
}

.button-footer:focus-visible,
.button_dialog:focus-visible, 
.button:focus-visible {
  outline: 2px solid var(--main-text-color, #000);
  box-shadow: 3px 3px 0px 0px var(--main-text-color, #000);
} 

.post .button__text {
  max-width: 130px;
}

/* ************  СЕКЦИЯ FOOTER  ************ */

.button-footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: min(3.68vw, 53px);
  margin-block-end: min(6.94vw, 100px);
  background-color: var(--bg-color, #fff); 
  outline: 2px solid var(--main-text-color, #000);
}

.button-footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  width: 0%;
  background-color: var(--button-hover, #fff);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.button-footer:hover::before{
  width: 100%;
}

footer svg {
  stroke-width: 0%;  
}

.button_svg {
  position: relative;
  color: var( --button-text-color, #fff);
  mix-blend-mode: difference;  
  margin-inline-start: min(1.32vw, 19px);
  margin-inline-end: min(0.56vw, 8px);
  align-self: center;
  justify-self: center;
  width: 21px;
  height: 21px;
}

.button_svg-dialog {
  transform: scale(1.8);
  padding-block-start: 3px;
  padding-inline-start: 8px;
  align-self: flex-end;
  width: 39px;
  height: 39px;
}

footer .button__text {
  padding-block: min(1.32vw, 19px);
  padding-inline-end: min(1.04vw, 15px);
  padding-inline-start: 0;
  margin: 0;
  outline: transparent;
}

 .button_dialog::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 121px;
  height: 24%;
  width: 0%;
  background-color: var(--button-hover, #fff);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.button_dialog:hover::before{
  border: none;
  width: 82%;
  /* background-blend-mode: difference; */
}

dialog[open] {
  box-sizing: border-box;
  padding: 30px;
  max-width: 353px;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-transform: uppercase;
  line-height: 21px;
  background: var(--bg-color, #fff);
  color: var(--main-text-color, #000);
  border: none;
  outline: 2px solid var(--main-text-color, #000);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

.dialog-content {
  max-height: 63px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  line-height: 21px;
}

dialog .button__text {
  max-width: 234px;
  padding: 0;
  line-height: 21px;
}

.button_dialog {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-block: 0;
  padding-inline: 130px;
  padding-block: 11.8px;
  font-family:var(--font-family-accent), Papyrus, fantasy;
  line-height: 12.6px;
  align-items: center;
  outline: 2px solid var(--main-text-color, #000);
}

@media (width < 1440px) {

  /* ******* HEADER  @media width 375px ******* */

  .header {
    height: min(86.13vw, 364px);
    margin-block-start: 103px;
    margin-block-end: 50px;
  }

  .header-title {
    padding-block-start: min(32vw, 120px);
  }

  .theme-menu__list {
    padding-block-start: 26px;
  }
  
  .post {
    margin-block-start: 56px;
  }

  .post .header-title {
    right: 11px;
  }

  .post-text {
    padding-block-start: 29px;
    padding-inline: 27px;
  }

  /* ******* FOOTER  @media width 375px ******* */

  .button-footer {
    margin-block-start: min(14.67vw, 55px);
    margin-block-end: min(26.67vw, 103px);
    display: flex;
    flex-direction: column;
    padding-block: min(3.73vw, 14px);
    padding-inline: min(4.80vw, 18px);
  }

  dialog[open] {
    padding-block: 30px;
    padding-inline: 42px;
  }

  .button_dialog:hover::before {
    border: none;
    width: 76%;
  }

  .button_dialog::before {
    left: 41px;
    top: 122px;
    /* height: 24%; */
  }

  .button_dialog {
    padding-inline: 113px;
  }

  .button_svg {
    transform: scale(1.34);
    margin-block-start: 4px;
    min-width: 28px;
    min-height: 28px;
  }
  .dialog-content .button__text{
    width: 195px;
  }
  

  @media (width <= 451px) {
    main .post:nth-child(1) .header-title {
      top: 80px;
    }
  }
}